pivot-table/src/main/resources/io/jmix/pivottable/pivot-table.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2021 Haulmont.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<xs:schema targetNamespace="http://jmix.io/schema/ui/pivot-table"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:layout="http://jmix.io/schema/ui/layout"
           xmlns="http://jmix.io/schema/ui/pivot-table"
           elementFormDefault="qualified">

    <xs:attributeGroup name="hasEditState">
        <xs:attribute name="editable" type="xs:boolean"/>
        <xs:attribute name="enable" type="xs:boolean"/>
    </xs:attributeGroup>

    <xs:simpleType name="renderer">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TABLE"/>
            <xs:enumeration value="TABLE_BAR_CHART"/>
            <xs:enumeration value="HEATMAP"/>
            <xs:enumeration value="ROW_HEATMAP"/>
            <xs:enumeration value="COL_HEATMAP"/>
            <xs:enumeration value="LINE_CHART"/>
            <xs:enumeration value="BAR_CHART"/>
            <xs:enumeration value="STACKED_BAR_CHART"/>
            <xs:enumeration value="HORIZONTAL_BAR_CHART"/>
            <xs:enumeration value="HORIZONTAL_STACKED_BAR_CHART"/>
            <xs:enumeration value="AREA_CHART"/>
            <xs:enumeration value="SCATTER_CHART"/>
            <xs:enumeration value="TREEMAP"/>
            <xs:enumeration value="TSV_EXPORT"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="aggregationMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COUNT"/>
            <xs:enumeration value="COUNT_UNIQUE_VALUES"/>
            <xs:enumeration value="LIST_UNIQUE_VALUES"/>
            <xs:enumeration value="SUM"/>
            <xs:enumeration value="INTEGER_SUM"/>
            <xs:enumeration value="AVERAGE"/>
            <xs:enumeration value="MINIMUM"/>
            <xs:enumeration value="MAXIMUM"/>
            <xs:enumeration value="SUM_OVER_SUM"/>
            <xs:enumeration value="UPPER_BOUND_80"/>
            <xs:enumeration value="LOWER_BOUND_80"/>
            <xs:enumeration value="SUM_AS_FRACTION_OF_TOTAL"/>
            <xs:enumeration value="SUM_AS_FRACTION_OF_ROWS"/>
            <xs:enumeration value="SUM_AS_FRACTION_OF_COLUMNS"/>
            <xs:enumeration value="COUNT_AS_FRACTION_OF_TOTAL"/>
            <xs:enumeration value="COUNT_AS_FRACTION_OF_TOTAL"/>
            <xs:enumeration value="COUNT_AS_FRACTION_OF_TOTAL"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="columnOrder">
        <xs:restriction base="xs:string">
            <xs:enumeration value="KEYS_ASCENDING"/>
            <xs:enumeration value="VALUES_ASCENDING"/>
            <xs:enumeration value="VALUES_DESCENDING"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="rowOrder">
        <xs:restriction base="xs:string">
            <xs:enumeration value="KEYS_ASCENDING"/>
            <xs:enumeration value="VALUES_ASCENDING"/>
            <xs:enumeration value="VALUES_DESCENDING"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="propertiesWithValueListsType">
        <xs:sequence>
            <xs:element name="property" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="value" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="value" type="xs:string"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="name" type="layout:resourceString"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="propertiesListType">
        <xs:sequence>
            <xs:element name="property" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="name" type="layout:resourceString" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="pivotTable">
        <xs:complexType>
            <xs:all>
                <xs:element name="rows" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="row" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="value" type="layout:resourceString"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="columns" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="column" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="value" type="layout:resourceString"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="renderers" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="renderer" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="type" type="renderer"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="default" type="renderer"/>
                        <!-- An alias for the 'default' property, with a
                        more meaningful name corresponding to its purpose -->
                        <xs:attribute name="selected" type="renderer"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="aggregation" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="property" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="name" type="layout:resourceString"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="function" minOccurs="0"/>
                        </xs:sequence>

                        <xs:attribute name="mode" type="aggregationMode"/>
                        <xs:attribute name="caption" type="layout:resourceString"/>
                        <xs:attribute name="custom" type="xs:boolean"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="aggregations" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="aggregation" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="function" minOccurs="0"/>
                                    </xs:sequence>

                                    <xs:attribute name="caption" type="layout:resourceString"/>
                                    <xs:attribute name="mode" type="aggregationMode"/>
                                    <xs:attribute name="custom" type="xs:boolean"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>

                        <xs:attribute name="default" type="aggregationMode"/>
                        <!-- An alias for the 'default' property, with a
                        more meaningful name corresponding to its purpose -->
                        <xs:attribute name="selected" type="aggregationMode"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="rendererOptions" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="heatmap" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="colorScaleGeneratorFunction" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="c3" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="size" minOccurs="0">
                                            <xs:complexType>
                                                <xs:attribute name="width" type="xs:double"/>
                                                <xs:attribute name="height" type="xs:double"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="derivedProperties" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="derivedProperty" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="function"/>
                                    </xs:sequence>
                                    <xs:attribute name="caption" type="layout:resourceString" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="properties">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="property" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="name" type="xs:string" use="required"/>
                                    <xs:attribute name="localizedName" type="layout:resourceString"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="aggregationProperties" minOccurs="0" type="propertiesListType"/>
                <xs:element name="hiddenProperties" minOccurs="0" type="propertiesListType"/>
                <xs:element name="hiddenFromAggregations" minOccurs="0" type="propertiesListType"/>
                <xs:element name="hiddenFromDragDrop" minOccurs="0" type="propertiesListType"/>
                <xs:element name="inclusions" minOccurs="0" type="propertiesWithValueListsType"/>
                <xs:element name="exclusions" minOccurs="0" type="propertiesWithValueListsType"/>
                <xs:element name="filterFunction" minOccurs="0"/>
                <xs:element name="sortersFunction" minOccurs="0"/>
            </xs:all>

            <xs:attribute name="dataContainer" type="xs:string"/>
            <xs:attribute name="renderer" type="renderer"/>
            <xs:attribute name="columnOrder" type="columnOrder"/>
            <xs:attribute name="rowOrder" type="rowOrder"/>
            <xs:attribute name="menuLimit" type="xs:integer"/>
            <xs:attribute name="autoSortUnusedProperties" type="xs:boolean"/>
            <xs:attribute name="unusedPropertiesVertical" type="xs:string"/>
            <xs:attribute name="emptyDataMessage" type="layout:resourceString"/>
            <xs:attribute name="showUI" type="xs:boolean"/>
            <xs:attribute name="showRowTotals" type="xs:boolean"/>
            <xs:attribute name="showColTotals" type="xs:boolean"/>

            <xs:attributeGroup ref="layout:hasId"/>
            <xs:attributeGroup ref="layout:hasSize"/>
            <xs:attributeGroup ref="layout:hasStyle"/>
            <xs:attributeGroup ref="layout:hasCaption"/>
            <xs:attributeGroup ref="layout:hasVisibility"/>
            <xs:attributeGroup ref="hasEditState"/>
        </xs:complexType>
    </xs:element>
</xs:schema>