jmix-flowui/vaadin-commercial-components/src/main/resources/ui.xsd

<!--
  ~ Copyright 2023 Haulmont.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<xs:schema targetNamespace="http://jmix.io/schema/vaadin-commercial-components/ui"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:layout="http://jmix.io/schema/flowui/layout"
           xmlns="http://jmix.io/schema/vaadin-commercial-components/ui"
           elementFormDefault="qualified">

    <xs:element name="board">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="layout:baseComponent">
                    <xs:sequence minOccurs="0">
                        <xs:element name="boardRow" type="boardRowType"/>

                        <xs:group ref="layout:layoutOrComponent"/>
                    </xs:sequence>

                    <xs:attributeGroup ref="layout:hasEnabled"/>
                    <xs:attributeGroup ref="layout:hasSize"/>
                    <xs:attributeGroup ref="layout:hasClassNames"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="boardRowType">
        <xs:complexContent>
            <xs:extension base="layout:baseComponent">
                <xs:sequence minOccurs="0" maxOccurs="4">
                    <xs:element name="boardRow" type="boardRowType"/>

                    <xs:group ref="layout:layoutOrComponent"/>
                </xs:sequence>

                <xs:attributeGroup ref="layout:hasEnabled"/>
                <xs:attributeGroup ref="layout:hasSize"/>
                <xs:attributeGroup ref="layout:hasClassNames"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="spreadsheet">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="layout:baseComponent">
                    <xs:attribute name="chartsEnabled" type="xs:boolean"/>
                    <xs:attribute name="activeSheetIndex" type="xs:integer"/>
                    <xs:attribute name="activeSheetWithPOIIndex" type="xs:integer"/>

                    <xs:attribute name="maxColumns" type="xs:integer"/>
                    <xs:attribute name="maxRows" type="xs:integer"/>
                    <xs:attribute name="defaultColumnWidth" type="xs:integer"/>
                    <xs:attribute name="defaultRowHeight" type="xs:integer"/>

                    <xs:attribute name="rowBufferSize" type="xs:integer"/>
                    <xs:attribute name="colBufferSize" type="xs:integer"/>
                    <xs:attribute name="defaultRowCount" type="xs:integer"/>
                    <xs:attribute name="defaultColumnCount" type="xs:integer"/>

                    <xs:attribute name="statusLabelValue" type="layout:resourceString"/>
                    <xs:attribute name="invalidFormulaErrorMessage" type="layout:resourceString"/>

                    <xs:attribute name="selection" type="xs:string"/>
                    <xs:attribute name="defaultPercentageFormat" type="xs:string"/>
                    <xs:attribute name="functionBarVisible" type="xs:boolean"/>
                    <xs:attribute name="sheetSelectionBarVisible" type="xs:boolean"/>
                    <xs:attribute name="reportStyle" type="xs:boolean"/>

                    <xs:attribute name="minimumRowHeightForComponents" type="xs:integer"/>

                    <xs:attribute name="theme" type="spreadsheetThemeType"/>
                    <xs:attributeGroup ref="layout:hasSize"/>
                    <xs:attributeGroup ref="layout:hasClassNames"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="spreadsheetThemeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LUMO"/>
            <xs:enumeration value="VALO"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
