jmix-fullcalendar/fullcalendar-flowui/src/main/resources/ui.xsd

<!--
  ~ Copyright 2024 Haulmont.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<xs:schema targetNamespace="http://jmix.io/schema/fullcalendar/ui"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:layout="http://jmix.io/schema/flowui/layout"
           xmlns="http://jmix.io/schema/fullcalendar/ui"
           elementFormDefault="qualified">
    <xs:element name="calendar">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="layout:baseComponent">
                    <xs:all minOccurs="0">
                        <xs:element name="eventProviders" type="eventProvidersType"/>
                        <xs:element name="businessHours" type="businessHoursType"/>
                        <xs:element name="viewProperties" type="viewProperties"/>
                        <xs:element name="customViews" type="customViews"/>
                        <xs:element name="hiddenDays" type="hiddenDaysType"/>
                    </xs:all>

                    <xs:attribute name="initialView" type="calendarViewType"/>

                    <xs:attribute name="weekNumbersVisible" type="xs:boolean"/>
                    <xs:attribute name="navigationLinksEnabled" type="xs:boolean"/>

                    <xs:attribute name="defaultDayMaxEventRowsEnabled" type="xs:boolean"/>
                    <xs:attribute name="dayMaxEventRows" type="xs:integer"/>

                    <xs:attribute name="defaultDayMaxEventsEnabled" type="xs:boolean"/>
                    <xs:attribute name="dayMaxEvents" type="xs:integer"/>

                    <xs:attribute name="eventMaxStack" type="xs:integer"/>

                    <xs:attribute name="moreLinkView" type="calendarViewType"/>
                    <xs:attribute name="moreLinkClassNames" type="xs:string"/>

                    <xs:attribute name="eventStartEditable" type="xs:boolean"/>
                    <xs:attribute name="eventDurationEditable" type="xs:boolean"/>
                    <xs:attribute name="eventResizableFromStart" type="xs:boolean"/>
                    <xs:attribute name="eventDragMinDistance" type="xs:integer"/>
                    <xs:attribute name="eventOverlap" type="xs:boolean"/>
                    <xs:attribute name="eventConstraintGroupId" type="xs:string"/>

                    <xs:attribute name="dragRevertDuration" type="xs:integer"/>
                    <xs:attribute name="dragScroll" type="xs:boolean"/>

                    <xs:attribute name="snapDuration" type="xs:string"/>

                    <xs:attribute name="allDayMaintainDurationEnabled" type="xs:boolean"/>

                    <xs:attribute name="defaultBusinessHoursEnabled" type="xs:boolean"/>

                    <xs:attribute name="selectionEnabled" type="xs:boolean"/>
                    <xs:attribute name="selectMirror" type="xs:boolean"/>
                    <xs:attribute name="unselectAuto" type="xs:boolean"/>
                    <xs:attribute name="unselectCancelSelector" type="xs:string"/>
                    <xs:attribute name="selectOverlap" type="xs:boolean"/>
                    <xs:attribute name="selectConstraintGroupId" type="xs:string"/>
                    <xs:attribute name="selectMinDistance" type="xs:integer"/>

                    <xs:attribute name="defaultDayPopoverFormat" type="layout:resourceString"/>
                    <xs:attribute name="defaultDayHeaderFormat" type="layout:resourceString"/>
                    <xs:attribute name="defaultWeekNumberFormat" type="layout:resourceString"/>
                    <xs:attribute name="defaultSlotLabelFormat" type="layout:resourceString"/>
                    <xs:attribute name="defaultEventTimeFormat" type="layout:resourceString"/>

                    <xs:attribute name="weekendsVisible" type="xs:boolean"/>
                    <xs:attribute name="dayHeadersVisible" type="xs:boolean"/>

                    <xs:attribute name="slotDuration" type="xs:string"/>
                    <xs:attribute name="slotLabelInterval" type="xs:string"/>
                    <xs:attribute name="slotMinTime" type="xs:string"/>
                    <xs:attribute name="slotMaxTime" type="xs:string"/>
                    <xs:attribute name="scrollTime" type="xs:string"/>
                    <xs:attribute name="scrollTimeReset" type="xs:boolean"/>

                    <xs:attribute name="defaultAllDay" type="xs:boolean"/>
                    <xs:attribute name="defaultAllDayEventDuration" type="xs:string"/>
                    <xs:attribute name="defaultTimedEventDuration" type="xs:string"/>
                    <xs:attribute name="forceEventDuration" type="xs:boolean"/>

                    <xs:attribute name="initialDate" type="xs:string"/>
                    <xs:attribute name="dateAlignment" type="xs:string"/>

                    <xs:attribute name="firstDayOfWeek" type="dayOfWeekType"/>

                    <xs:attribute name="expandRows" type="xs:boolean"/>
                    <xs:attribute name="windowResizeDelay" type="xs:integer"/>

                    <xs:attribute name="eventInteractive" type="xs:boolean"/>

                    <xs:attribute name="longPressDelay" type="xs:integer"/>
                    <xs:attribute name="selectLongPressDelay" type="xs:integer"/>

                    <xs:attribute name="nowIndicatorVisible" type="xs:boolean"/>

                    <xs:attribute name="eventBackgroundColor" type="xs:string"/>
                    <xs:attribute name="eventBorderColor" type="xs:string"/>
                    <xs:attribute name="eventTextColor" type="xs:string"/>
                    <xs:attribute name="eventDisplay" type="eventDisplay"/>
                    <xs:attribute name="displayEventTime" type="xs:boolean"/>
                    <xs:attribute name="nextDayThreshold" type="xs:string"/>
                    <xs:attribute name="eventOrderStrict" type="xs:boolean"/>
                    <xs:attribute name="progressiveEventRendering" type="xs:boolean"/>
                    <xs:attribute name="eventOrder" type="xs:string"/>

                    <xs:attributeGroup ref="layout:hasClassNames"/>
                    <xs:attributeGroup ref="layout:hasSize"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="customViews">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="view" type="customViewType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="viewProperties">
        <xs:all minOccurs="0">
            <xs:element name="dayGridDay" type="dayGridDay"/>
            <xs:element name="dayGridWeek" type="dayGridWeek"/>
            <xs:element name="dayGridMonth" type="dayGridMonth"/>
            <xs:element name="dayGridYear" type="dayGridYear"/>
            <xs:element name="timeGridDay" type="timeGridDay"/>
            <xs:element name="timeGridWeek" type="timeGridWeek"/>
            <xs:element name="listDay" type="listDay"/>
            <xs:element name="listWeek" type="listWeek"/>
            <xs:element name="listMonth" type="listMonth"/>
            <xs:element name="listYear" type="listYear"/>
            <xs:element name="multiMonthYear" type="multiMonthYear"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="baseViewType">
        <xs:choice minOccurs="0">
            <xs:element name="properties" type="viewPropertiesType"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="baseDayGridViewType">
        <xs:complexContent>
            <xs:extension base="baseViewType">
                <xs:attribute name="dayPopoverFormat" type="layout:resourceString"/>
                <xs:attribute name="dayHeaderFormat" type="layout:resourceString"/>
                <xs:attribute name="weekNumberFormat" type="layout:resourceString"/>
                <xs:attribute name="eventTimeFormat" type="layout:resourceString"/>
                <xs:attribute name="displayEventEnd" type="xs:boolean"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="baseTimeGridViewType">
        <xs:complexContent>
            <xs:extension base="baseViewType">
                <xs:attribute name="dayPopoverFormat" type="layout:resourceString"/>
                <xs:attribute name="dayHeaderFormat" type="layout:resourceString"/>
                <xs:attribute name="weekNumberFormat" type="layout:resourceString"/>
                <xs:attribute name="eventTimeFormat" type="layout:resourceString"/>
                <xs:attribute name="slotLabelFormat" type="layout:resourceString"/>
                <xs:attribute name="eventMinHeight" type="xs:integer"/>
                <xs:attribute name="eventShortHeight" type="xs:integer"/>
                <xs:attribute name="slotEventOverlap" type="xs:boolean"/>
                <xs:attribute name="allDaySlot" type="xs:boolean"/>
                <xs:attribute name="displayEventEnd" type="xs:boolean"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="baseListViewType">
        <xs:complexContent>
            <xs:extension base="baseViewType">
                <xs:attribute name="listDayFormat" type="layout:resourceString"/>
                <xs:attribute name="listDaySideFormat" type="layout:resourceString"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="viewPropertiesType">
        <xs:sequence>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="property" type="viewProperty"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="viewProperty">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="dayGridDay">
        <xs:complexContent>
            <xs:extension base="baseDayGridViewType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="dayGridWeek">
        <xs:complexContent>
            <xs:extension base="baseDayGridViewType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="dayGridMonth">
        <xs:complexContent>
            <xs:extension base="baseDayGridViewType">
                <xs:attribute name="fixedWeekCount" type="xs:boolean"/>
                <xs:attribute name="showNonCurrentDates" type="xs:boolean"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="dayGridYear">
        <xs:complexContent>
            <xs:extension base="baseDayGridViewType">
                <xs:attribute name="monthStartFormat" type="layout:resourceString"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="customViewType">
        <xs:complexContent>
            <xs:extension base="baseViewType">
                <xs:choice minOccurs="0">
                    <xs:element name="duration" type="calendarDurationType"/>
                </xs:choice>
                <xs:attribute name="id" type="xs:string" use="required"/>
                <xs:attribute name="type" type="customCalendarViewType"/>
                <xs:attribute name="dayCount" type="xs:integer"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="timeGridDay">
        <xs:complexContent>
            <xs:extension base="baseTimeGridViewType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="timeGridWeek">
        <xs:complexContent>
            <xs:extension base="baseTimeGridViewType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="listDay">
        <xs:complexContent>
            <xs:extension base="baseListViewType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="listWeek">
        <xs:complexContent>
            <xs:extension base="baseListViewType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="listMonth">
        <xs:complexContent>
            <xs:extension base="baseListViewType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="listYear">
        <xs:complexContent>
            <xs:extension base="baseListViewType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="multiMonthYear">
        <xs:complexContent>
            <xs:extension base="baseViewType">
                <xs:attribute name="multiMonthMaxColumns" type="xs:integer"/>
                <xs:attribute name="multiMonthMinWidth" type="xs:integer"/>
                <xs:attribute name="multiMonthTitleFormat" type="layout:resourceString"/>
                <xs:attribute name="fixedWeekCount" type="xs:boolean"/>
                <xs:attribute name="showNonCurrentDates" type="xs:boolean"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="calendarDurationType">
        <xs:attribute name="years" type="xs:integer"/>
        <xs:attribute name="months" type="xs:integer"/>
        <xs:attribute name="weeks" type="xs:integer"/>
        <xs:attribute name="days" type="xs:integer"/>
        <xs:attribute name="hours" type="xs:integer"/>
        <xs:attribute name="minutes" type="xs:integer"/>
        <xs:attribute name="seconds" type="xs:integer"/>
        <xs:attribute name="milliseconds" type="xs:integer"/>
    </xs:complexType>

    <xs:simpleType name="customCalendarViewType">
        <xs:restriction>
            <xs:enumeration value="DAY_GRID"/>
            <xs:enumeration value="TIME_GRID"/>
            <xs:enumeration value="LIST"/>
            <xs:enumeration value="MULTI_MONTH"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="businessHoursType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="entry" type="businessHoursEntryType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="businessHoursEntryType">
        <xs:choice maxOccurs="7">
            <xs:element name="day" type="simpleDayType"/>
        </xs:choice>
        <xs:attribute name="startTime" type="xs:string"/>
        <xs:attribute name="endTime" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="simpleDayType">
        <xs:attribute name="name" use="required" type="dayOfWeekType"/>
    </xs:complexType>

    <xs:simpleType name="dayOfWeekType">
        <xs:restriction>
            <xs:enumeration value="MONDAY"/>
            <xs:enumeration value="TUESDAY"/>
            <xs:enumeration value="WEDNESDAY"/>
            <xs:enumeration value="THURSDAY"/>
            <xs:enumeration value="FRIDAY"/>
            <xs:enumeration value="SATURDAY"/>
            <xs:enumeration value="SUNDAY"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="hiddenDaysType">
        <xs:choice maxOccurs="7">
            <xs:element name="day" type="simpleDayType"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="eventProvidersType">
        <xs:all minOccurs="0">
            <xs:element name="containerEventProvider" type="containerProviderType"/>
            <xs:element name="lazyEventProvider" type="lazyProviderType"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="baseProviderType">
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="groupId" type="xs:string"/>
        <xs:attribute name="allDay" type="xs:string"/>
        <xs:attribute name="startDateTime" type="xs:string"/>
        <xs:attribute name="endDateTime" type="xs:string"/>
        <xs:attribute name="title" type="xs:string"/>
        <xs:attribute name="description" type="xs:string"/>
        <xs:attribute name="interactive" type="xs:string"/>
        <xs:attribute name="classNames" type="xs:string"/>
        <xs:attribute name="startEditable" type="xs:string"/>
        <xs:attribute name="durationEditable" type="xs:string"/>
        <xs:attribute name="display" type="xs:string"/>
        <xs:attribute name="overlap" type="xs:string"/>
        <xs:attribute name="constraint" type="xs:string"/>
        <xs:attribute name="backgroundColor" type="xs:string"/>
        <xs:attribute name="borderColor" type="xs:string"/>
        <xs:attribute name="textColor" type="xs:string"/>

        <xs:attribute name="additionalProperties" type="xs:string"/>

        <xs:attribute name="recurringDaysOfWeek" type="xs:string"/>
        <xs:attribute name="recurringStartDate" type="xs:string"/>
        <xs:attribute name="recurringEndDate" type="xs:string"/>
        <xs:attribute name="recurringStartTime" type="xs:string"/>
        <xs:attribute name="recurringEndTime" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="containerProviderType">
        <xs:complexContent>
            <xs:extension base="baseProviderType">
                <xs:attribute name="dataContainer" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="lazyProviderType">
        <xs:complexContent>
            <xs:extension base="baseProviderType">
                <xs:sequence>
                    <xs:element name="itemsQuery" type="itemsQueryType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="itemsQueryType">
        <xs:sequence>
            <xs:element name="fetchPlan" type="itemsQueryFetchPlanType" minOccurs="0"/>
            <xs:element name="query"/>
        </xs:sequence>
        <xs:attribute name="class" type="xs:string" use="required"/>
        <xs:attribute name="fetchPlan" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="itemsQueryFetchPlanType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="property" type="itemsQueryFetchPlanPropertyType"/>
        </xs:sequence>
        <xs:attribute name="extends"/>
    </xs:complexType>

    <xs:complexType name="itemsQueryFetchPlanPropertyType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="property" type="itemsQueryFetchPlanPropertyType"/>
        </xs:sequence>
        <xs:attribute name="name"/>
        <xs:attribute name="fetchPlan"/>
        <xs:attribute name="fetch" type="itemsQueryFetchPlanFetchMode"/>
    </xs:complexType>

    <xs:simpleType name="itemsQueryFetchPlanFetchMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AUTO"/>
            <xs:enumeration value="UNDEFINED"/>
            <xs:enumeration value="JOIN"/>
            <xs:enumeration value="BATCH"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="calendarViewType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAY_GRID_DAY"/>
            <xs:enumeration value="DAY_GRID_WEEK"/>
            <xs:enumeration value="DAY_GRID_MONTH"/>
            <xs:enumeration value="DAY_GRID_YEAR"/>

            <xs:enumeration value="TIME_GRID_DAY"/>
            <xs:enumeration value="TIME_GRID_WEEK"/>

            <xs:enumeration value="LIST_DAY"/>
            <xs:enumeration value="LIST_WEEK"/>
            <xs:enumeration value="LIST_MONTH"/>
            <xs:enumeration value="LIST_YEAR"/>

            <xs:enumeration value="MULTI_MONTH_YEAR"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="eventDisplay">
        <xs:restriction>
            <xs:enumeration value="AUTO"/>
            <xs:enumeration value="BLOCK"/>
            <xs:enumeration value="LIST_ITEM"/>
            <xs:enumeration value="BACKGROUND"/>
            <xs:enumeration value="INVERSE_BACKGROUND"/>
            <xs:enumeration value="NONE"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>