jmix-flowui/flowui/src/main/resources/io/jmix/flowui/view/fragment.xsd

<!--
  ~ Copyright (c) 2008-2019 Haulmont.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<xs:schema targetNamespace="http://jmix.io/schema/flowui/fragment"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://jmix.io/schema/flowui/fragment"
           xmlns:data="http://jmix.io/schema/flowui/fragment-data"
           xmlns:layout="http://jmix.io/schema/flowui/layout"
           elementFormDefault="qualified">

    <xs:include schemaLocation="http://jmix.io/schema/flowui/fragment-data"/>
    <xs:include schemaLocation="http://jmix.io/schema/flowui/layout"/>

    <xs:element name="fragment">
        <xs:complexType>
            <xs:all>
                <xs:element name="data" type="data:fragmentData" minOccurs="0"/>
                <xs:element name="actions" type="layout:viewActions" minOccurs="0"/>
                <xs:element name="facets" type="fragmentFacets" minOccurs="0"/>
                <xs:element name="content" type="fragmentContent"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <!-- Fragment Facets -->
    <xs:complexType name="fragmentFacets">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="fragmentDataLoadCoordinator" type="fragmentDataLoadCoordinatorType" minOccurs="0"/>
                <xs:element name="urlQueryParameters" type="layout:urlQueryParametersType" minOccurs="0"/>
                <xs:element name="timer" type="layout:timerType" minOccurs="0"/>
                <xs:element name="fragmentSettings" type="layout:settingsFacetType" minOccurs="0"/>

                <!-- allow custom facets from any namespace -->
                <xs:any/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="fragmentDataLoadCoordinatorType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="refresh" type="dataLoadCoordinatorTriggerType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="auto" type="xs:boolean"/>
        <xs:attribute name="containerPrefix" type="xs:string"/>
        <xs:attribute name="componentPrefix" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="dataLoadCoordinatorTriggerType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="onFragmentEvent" type="onFragmentEventType"/>
                <xs:element name="onContainerItemChanged" type="layout:onContainerItemChangedType"/>
                <xs:element name="onComponentValueChanged" type="layout:onComponentValueChangedType"/>
            </xs:choice>
        </xs:sequence>

        <xs:attribute name="loader" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="onFragmentEventType">
        <xs:attribute name="type" type="onFragmentEventEnum" use="required"/>
    </xs:complexType>

    <xs:simpleType name="onFragmentEventEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Ready"/>
            <xs:enumeration value="Host.Init"/>
            <xs:enumeration value="Host.BeforeShow"/>
            <xs:enumeration value="Host.Ready"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Fragment Component -->
    <xs:complexType name="fragmentContent">
        <xs:complexContent>
            <xs:extension base="layout:singleLayoutOrComponentType"/>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>